# data files
data

# bash scripts
*.sh

# docs
docs/_build

# intermediate files
build
dist
*.egg-info

# experimental results
exp
results

# log files
*.log

# pycache
__pycache__

# saved model
*.pkl
*.pt

# hidden files
.*

# vscode
.vscode

# nohup
*.out

# json
* .json

# shell
* .sh

# test
py_test.py
test.py

# conllu
*.conllu